.banner {
  min-height: 750px;
  margin-top: 110px;

  img {
    max-height: 614px;
  }

  .banner-container {
    position: relative;
    height: 655px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    .banner-title {
      position: absolute;
      top: 140px;
      left: 30px;
    }

    .banner-title-content {
      font-size: 50px;
      font-weight: 400;
      color: $indigo;
      margin: 0;
      line-height: 55px;
    }

    .banner-title-content-b {
      font-weight: 900;
      img {
        width: 10%;
      }
    }

    .banner-conlit {
      position: absolute;
      left: 39px;
      top: 290px;
      font-size: 20px;
      color: gray;
      font-weight: 400;
    }

    .button-1 {
      display: block;
      max-width: 365px;
      background-color: yellowgreen;
      color: white;
      padding: 10px 40px;
      position: absolute;
      left: 31px;
      top: 385px;
      border-radius: 45px;
      font-size: 30px;
      border: 0;
      font-weight: 700;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .banner-bottom {
    background-image: linear-gradient(white, #e5e5e5 98%);
    width: 100%;
    height: 160px;
  }
}

@media (max-width: 1024px) and (min-width: 500px) {
  .banner {
    img {
        max-height: 349.5px;
      }
    .banner-container {
      width: 100%;
      height: 350px;
      background-size: cover;

      .banner-title {
        top: 18%;
        left: 27px;
      }

      .banner-title-content {
        font-size: 20px;
        line-height: 36px;
      }

      .banner-title-content img {
        width: 39px;
        height: 37px;
      }

      .banner-conlit {
        top: 43%;
        left: 27px;
      }

      .button-1 {
        top: 65%;
        left: 27px;
        width: 210px;
        height: 40px;
        font-size: 16px;
        padding: 8px 29px;
      }
    }

    .overlay {
      width: 100vw;
      height: 100vh;
      z-index: 3;
      background-color: rgb(255, 255, 255, 0.01);
      position: fixed;
      top: 108px;
      left: 0;
      right: 0;
      display: none;
    }

    .overlay.overlay-open {
      display: initial;
    }
  }
}

@media (max-width: 500px) {
  .banner {
    width: 100%;

    img {
        max-height: 188.5px;
      }

    .banner-container {
      height: 500px;

      .banner img {
        width: 100%;
      }

      .banner-title {
        top: 40%;
        left: 51%;
        transform: translateX(-50%);
      }

      .banner-title-content {
        font-size: 18px;
        font-weight: 400;
        color: gray;
        margin: 0;
        line-height: 25px;
      }

      .banner-title-content-b{
        font-weight: 700;

      }

      .banner-conlit {
        top: 51%;
        left:48%;
        font-size: 12px;
        transform: translateX(-50%);
      }

      .banner-content p {
        width: max-content;
      }

      .button-1 {
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        width: 225px;
        height: 47px;
        font-size: 14px;
        padding: 15px 45px;
      }
    }
  }

  .banner-bottom {
    margin-top: -221px;
  }
}

