.logout {
	margin: 0;
	background-color: #e5e5e5;
	padding-top: 170px;
	padding-bottom: 80px;

	.logout-form {
	max-width: 40%;
	}

	.card-header {
	background: white;
	text-align: center;
	font-weight: 700;
	color: $green;
	font-size: 30px;
	border: 0;
	margin-top: 15px;
	}

	.form-group {
	margin-left: 20px;
	font-size: 15px;
    font-weight: 400;
	}

	.input-logout {
	width: 95%;
	}

	.input-logout input {
	background-color: #f5f5f5;
	}

	.sign-up {
	margin-bottom: 20px;
	}

	.btn-register {
	display: block;
	width: 50%;
	padding: 13px;
	border-radius: 20px;
	margin: 30px auto 0;
	background-color: #b2d235;
	box-shadow: inset 0px 1.5px 2px #6f8710;
	color: white;
    font-size: 20px;
	font-weight: 500;
	border: 0;
	}
}
