.pagination {
    margin-bottom: 0;
    margin-top: 20px;
    justify-content: flex-end;

    .page-item {
      padding-right: 6px;
    }

    .page-link {
      color: $main-bg;
      border: 1px solid $main-bg;

      &:hover {
        background-color: $main-bg;
        color: white;
      }
    }
  }

  .page-item {
    &.active {
      .page-link {
        background-color: $main-bg;
        border-color: $main-bg;
      }
    }
  }

  .page-item {
    &.disabled {
      .page-link {
        background-color: $main-bg;
        color: white;
      }
    }
}
